.select {
  width: 280px;
  height: 32px;
  background-color: color("primary");
  border: 1px solid color("border");
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.select-icon {
  font-size: 11px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.select-control {
  font-family: $mainFont;
  background-color: transparent;
  padding: 7px 16px;
  padding-right: 30px;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus {
    outline: none;
  }
}
