%default-transition {
  transition: all 0.2s ease-in;
}
%img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
%img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
%img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
%bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
%bg-contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
