// fonts
$mainFont: 'Lexend Deca', sans-serif;

// breakpoint
$breakpoint-xs-min: 320px;
$breakpoint-smx-min: 480px;
$breakpoint-sml-min: 576px;
$breakpoint-sm-min: 768px;
$breakpoint-md-min: 980px;
$breakpoint-rg-min: 1200px;
$breakpoint-lg-min: 1562px;
$breakpoint-xl-min: 1680px;

$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-rg-min - 1px;
$breakpoint-rg-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: 1920px;

$col-count: 12;
$padding: 8px;